@font-face
	font-family: 'BebasNeueBold'
	src: url('../fonts/BebasNeueBold.eot') format('eot'), url('../fonts/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold.ttf') format('truetype')
@font-face
	font-family: 'BebasNeueBook'
	src: url('../fonts/BebasNeueBook.eot') format('eot'), url('../fonts/BebasNeueBook.woff') format('woff'), url('../fonts/BebasNeueBook.ttf') format('truetype')
@font-face
	font-family: 'BebasNeueRegular'
	src: url('../fonts/BebasNeueRegular.eot') format('eot'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype')
@font-face
	font-family: 'Montserrat-Regular'
	src: url('../fonts/Montserrat-Regular.eot') format('eot'), url('../fonts/Montserrat-Regular.ttf') format('truetype')
@font-face
	font-family: 'Montserrat-Bold'
	src: url('../fonts/Montserrat-Bold.eot') format('eot'), url('../fonts/Montserrat-Bold.ttf') format('truetype')


body
.container
	width: 90%
	max-width: 1220px
	margin: 0 auto

footer
	background-color: black
	.bot-line
		width: 100%
		.copyright
			width: 241px
			p
				color: #909090
				font-family: "Segoe UI", sans-serif
				font-size: 14px
				font-weight: 400
